html, body {
    margin: 0 auto;
    padding: 0;
    background-color:  #E6BC2F;
    align-items: center;
    justify-content: center;
}

.buttonContainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.myButton {
    margin: 8px;
    padding: 8px;
    color:  #F5F5F5;
    font-weight: 700;
    background-color: #E3350D;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 16px;
    cursor: pointer;
    /* border: none; */
}

.myButton a {
    color: #F5F5F5;
    font-style: bold;
    text-decoration: none;
}
